.mantine-TextInput-wrapper {
  .mantine-TextInput-input {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid var(--color-bg-detail);
    color: var(--color-text);
    font-family: 'Chakra Petch', 'Segoe UI';
    font-size: 12pt;
    transition: border 0.4s,
      padding-top 0.4s,
      background-color 0.4s;

    &:focus {
      padding-top: 1px;
      border-bottom: 2px solid var(--color-primary);
      transition: border 0.05s,
        padding-top 0.05s,
        background-color 0.4s;
      background-color: var(--color-hover-glass);
    }
  }

  button {
    cursor: pointer;
    color: var(--color-text-2);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--color-text);
    }

    &:active {
      color: var(--color-primary);
    }
  }
}

.mantine-Pagination-root {
  --pagination-control-radius: 0;
}

.mantine-SegmentedControl-root {
  --sc-radius: 0;

  .mantine-SegmentedControl-indicator {
    background-color: var(--color-primary);
    box-shadow: none;
  }

  .mantine-SegmentedControl-label[data-active=true] {
    color: white;
  }
}

.mantine-Button-root {
  --button-radius: 0;
}

.mantine-Tabs-root {
  .mantine-Tabs-tabLabel {
    font-size: 1rem;
    
  }
}